.form-container  {
  background-color: #E5F3F2
}
/*page title*/
.page-title  {
  text-align: center;
  padding: 3% 0 1% 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 6vw;
}
.title-idea  { 
  display: inline;
  color: #00A79D;
}
.title-box  {
  color: #6D6E71;
  display: inline;
}
/*top two input fields*/
.form-one {
  text-align: center;
}
.input  {
  margin: 2% auto;  
  border: 2px solid #c6c6c6;
  display: block;
  font-size: 2vw;
  height: 3vw;
  text-indent: 1%;
  width: 60vw;
}
.input::placeholder {
  color: #c6c6c6;
  font-family: 'Open Sans', sans-serif;
}
.input[type=text]:focus {
    background-color: #c4f2ee;
    border: 2px solid #00A79D;
    transition: 0.6s;
    outline: none;
}
.save-button  {  
  margin: 2% auto 3% auto;
  background-color: #00A79D;
  color: #FFFFFF;
  font-size: 2vw;
  height: 4vw;
  width: 60vw;
  padding: 0;
}
.save-button:hover  {
  background-color: #045E55;
  color:#FFFFFF;
}

.form-two {
/*  width: 60%;*/
  margin: auto;
}

.filter-button {
  background-color: #00A79D;
  border-radius: 0;
  padding: 15px 15px;
  margin-left: 20%;
}

.filter-button:hover {
  background-color: #045E55;
}

/*WATCH THIS AREA FOR REDUNDANCY
*/.toDo-buttons {
  background-color: #00A79D;
  padding: 15px 15px;
  margin: 0 auto;
  flex-direction: column;
  min-width: 68px;
}

.sort-buttons {
  display: flex;
  padding: 15px 15px;
  margin: 0 auto;
  flex-direction: row;
  width: 88%;
  justify-content: space-between
}

/*cards*/
h2  {
  font-size: 3vw;
  color: #6D6E71;
  font-weight: 700;
}

.card  {
  margin: 3% auto;
  padding-bottom: 2%;
  border-bottom: 1px solid #D1D3D4;
  width: 60%;
}

.card-title  {
  color: #6D6E71;
  display: inline;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 2.3vw;
}
.card-body  {
  margin: 3% 0;
  color: #939598;
  font-size: 1.5vw;
}

.quality {
  color: #6D6E71; 
  display: inline;
  font-weight: 800;
  font-size: 1.3vw;
}

.completed {
  opacity: .3;
  color: red;
}

.delete-button  {
  position: absolute;
  right: 20%;
  background-image: url(icons/delete.svg);
  background-size: 2.7vw;
  border: 0;
  height: 2.7vw;
  width: 2.7vw;
  outline: none;
}

.downvote-button  {
  background-image: url(icons/downvote.svg);
  background-size: 2.7vw;
  border: 0;
  height: 2.7vw;
  width: 2.7vw;
  margin: 0 3%;
  padding-bottom: 2%;
  outline: none;
}

.upvote-button  {
  background-image: url(icons/upvote.svg);
  background-size: 2.7vw;
  border: 0;
  height: 2.7vw;
  width: 2.7vw;
  padding-bottom: 2%;
  outline: none;
}

.delete-button:hover  {
  background-image: url(icons/delete-hover.svg);
}

.upvote:hover  {
  background-image: url(icons/upvote-hover.svg);
}

.downvote:hover  {
  background-image: url(icons/downvote-hover.svg);
}

/*tablet*/
@media only screen and (max-width: 1024px) {
  .page-title  {
    font-size: 10vw;
    padding: 3vw;
  }
  .form-container  {
    height: 57vw;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 1;
  }
  .input  {
    width: 75vw;
    height: 5vw;
    padding: 1vw;
    font-size: 3vw;
  }
  .input-body  {
    height: 4em;
  }
  .save-button  {
    height: 6vw;
    width: 78vw;
    outline: none;
    font-size: 4vw;
  }
  .search  {
    margin-top: 60vw;
  }
  .card  {
    margin-top: 10vw;
    width: 80vw;
  }
  h2  {
    font-size: 6vw;
  }
  .card-body  {
    font-size: 3vw;
  }
  .delete-button,
  .arrow-button  {
    background-color: white;
    background-size: 20px;
    height: 20px;
    width: 20px;
  }
  .quality,
  .quality-text  {
    font-size: 2.5vw;
  }
}
/*phone*/
@media only screen and (max-width: 760px) and (min-width: 320px) {

}

@media only screen and (max-width: 1024px) {
  
}

@media only screen and (max-width: 760px) {
  .form-container  {
    height: 89vw;
  }
  .page-title  {
    font-size: 12vw;
    height: 10vw;
    padding-top: 10vw;
  }
  .input  {
    font-size: 5vw;
    margin: 5vw;
    width: 85vw;
  }
  .input-body  {
    height: 4em;
  }
  .save-button  {
    font-size: 5vw;
    width: 88vw;
    height: 10vw;
    margin-right: 15px;
  }
  .search  {
    margin-top: 95vw;
  }
}

@media only screen and (max-width: 320) {
  .page-title  {
    font-size: 10vw;
    padding: 3vw;
  }
  .form-container  {
    height: 57vw;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 1;
  }
  .input  {
    width: 85vw;
    height: 5vw;
    padding: 1vw;
    font-size: 3vw;
  }
  .input-body  {
    height: 4em;
  }
  .save-button  {
    height: 6vw;
    width: 87vw;
    outline: none;
    font-size: 4vw;
  }
  .search  {
    margin-top: 60vw;
  }
  .card  {
    margin-top: 10vw;
    width: 80vw;
  }
  h2  {
    font-size: 6vw;
  }
  .card-body  {
    font-size: 3vw;
  }
  .delete-button,
  .arrow-button  {
    background-color: white;
    background-size: 20px;
    height: 20px;
    width: 20px;
  }
  .quality,
  .quality-text  {
    font-size: 2.5vw;
  }
}