.form-container  {
  background-color: #E5F3F2
}
/*page title*/
.page-title  {
  font-family: 'Roboto Slab', serif;
  font-size: 6vw;
  font-weight: 700;
  padding: 3% 0 1% 0;
  text-align: center;
}
.title-todo  { 
  color: #00A79D;
  display: inline;
}
.title-box  {
  color: #6D6E71;
  display: inline;
}
/*top two input fields*/
.form-one {
  text-align: center;
}

p {
  color: #003b45;
  font-size: 1.1em

}

.input  {
  border: 2px solid #c6c6c6;
  display: block;
  font-size: 2vw;
  height: 3vw;
  margin: 2% auto;  
  text-indent: 1%;
  width: 60vw;
}
.input::placeholder {
  color: #c6c6c6;
  font-family: 'Open Sans', sans-serif;
}
.input[type=text]:focus {
    background-color: #c4f2ee;
    border: 2px solid #00A79D;
    outline: none;
    transition: 0.6s;
}

.search-input {
  margin-bottom: 0;
}

.save-button  {  
  background-color: #00A79D;
  color: #FFFFFF;
  font-size: 2vw;
  height: 4vw;
  margin: 2% auto 3% auto;
  padding: 0;
  width: 60vw;
}
.save-button:hover  {
  background-color: #045E55;
  color:#FFFFFF;
}

.show-completed-button {
  border: none;
  color: magenta;
  height: 25px;
  outline: none;
  width: 101px;
}

.form-two {
  margin: auto;
  width: 60%;
}

.filter-button {
  background-color: #00A79D;
  border-radius: 0;
  margin-left: 20%;
  padding: 15px 15px;
}

.filter-button:hover {
  background-color: #045E55;
}

.toDo-buttons {
  background-color: #00A79D;
  color: white;
  padding: 15px 15px;
  margin: 0 auto;
  flex-direction: column;
  min-width: 68px;
}

.sort-buttons {
  display: flex;
  padding: 15px 15px;
  margin: 0 auto;
  flex-direction: row;
  width: 88%;
  justify-content: space-between
}

/*cards*/
h2  {
  color: #6D6E71;
  font-size: 3vw;
  font-weight: 700;
}

.importance {
  color: #6D6E71;
  margin-left: 6em;
  margin-top: -1.5em; 
}

.card  {
  border-bottom: 1px solid #D1D3D4;
  margin: 3% auto;
  padding-bottom: 2%;
  width: 60%;
}

.card-title  {
  color: #6D6E71;
  display: inline;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 2.3vw;
}
.card-body  {
  color: #939598;
  font-size: 1.5vw;
  margin: 3% 0;
}

.quality {
  color: #6D6E71; 
  display: inline;
  font-weight: 800;
  font-size: 1.3vw;
}

.completed {
  color: red;
  opacity: .3;
}

.delete-button  {
  background-image: url(icons/delete.svg);
  background-size: 2.7vw;
  border: 0;
  height: 2.7vw;
  outline: none;
  position: absolute;
  right: 20%;
  width: 2.7vw;
}

.downvote-button  {
  background-image: url(icons/downvote.svg);
  background-size: 2.7vw;
  border: 0;
  height: 2.7vw;
  margin: 0 3%;
  outline: none;
  padding-bottom: 2%;
  width: 2.7vw;
}

.upvote-button  {
  background-image: url(icons/upvote.svg);
  background-size: 2.7vw;
  border: 0;
  height: 2.7vw;
  outline: none;
  padding-bottom: 2%;
  width: 2.7vw;
}

.delete-button:hover  {
  background-image: url(icons/delete-hover.svg);
}

.upvote:hover  {
  background-image: url(icons/upvote-hover.svg);
}

.downvote:hover  {
  background-image: url(icons/downvote-hover.svg);
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-buttons {
  align-self: center;
  background-color: #00A79D;
  color: white;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.7em;
  margin: 3%;
  outline: none;
  padding: 1vw 5vw;

}

/*MEDIA QUERIES*/

@media only screen and (min-width: 1025px) {
  .sort-buttons {
    width: 66%;
  }
}

/*tablet*/
@media only screen and (max-width: 1024px) {
  .page-title  {
    font-size: 10vw;
    padding: 3vw;
  }
  .form-container  {
    height: 57vw;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 1;
  }
  .input  {
    width: 75vw;
    height: 5vw;
    padding: 1vw;
    font-size: 3vw;
  }
  .input-body  {
    height: 4em;
  }
  .save-button  {
    height: 6vw;
    width: 78vw;
    outline: none;
    font-size: 4vw;
  }
  .search  {
    margin-top: 60vw;
  }

  .search-input {
    margin-left: -8vw;  
  }

  .card  {
    margin-top: 10vw;
    width: 80vw;
  }
  h2  {
    font-size: 6vw;
  }
  .card-body  {
    font-size: 3vw;
  }
  .delete-button,
  .arrow-button  {
    background-color: white;
    background-size: 20px;
    height: 20px;
    width: 20px;
  }
  .quality,
  .quality-text  {
    font-size: 2.5vw;
  }
}
/*phone*/
@media only screen and (max-width: 760px) and (min-width: 320px) {
  .form-container  {
    height: 89vw;
  }
  .page-title  {
    font-size: 12vw;
    height: 10vw;
    padding-top: 10vw;
  }
  .sort-buttons {
    flex-wrap: wrap;
    width: 83%;
    justify-content: space-between;
  }

  .upvote-button,
  .downvote-button {
    padding: 1px;
  }

  .toDo-buttons {
    color: white;
    margin: 3%;
    padding: 1vw 5vw;
    text-align: center; 
    width: 22%;
  }

  .input-body  {
    height: 4em;
  }
  .save-button  {
    font-size: 5vw;
    width: 78vw;
    height: 10vw;
  }
  .search  {
    margin-top: 95vw;
  }
}
